node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma

# WhatsApp Web.js session (credential WA — jangan di-commit)
.wwebjs_auth/
.wwebjs_cache/
dist

# Dokumentasi (Simpan di lokal saja, jangan di-commit ke github)
doc/
DOC/
docs/
